.filteren {
  margin-left: 20px;
}
.filteren form * {
  display: flex;
}
.filteren form > label {
  margin-top: 1em;
}
.filteren h1 {
  font-size: 1.8em;
}
.filteren button {
  margin-top: 1em;
}
.filteren .choiceDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filteren .choiceDiv input {
  margin-right: 0.2em;
}
.filteren .proof-rank {
  display: flex;
  width: 100vw;
  flex-direction: column;
  font-size: 0.5em;
  margin-left: 2em;
  font-size: 0.7em;
}
.filteren .proof-rank input {
  width: 20vw;
  margin-left: 1px;
}
.filteren input[type=radio]:checked ~ .show-proof-rank,
.filteren input[type=checkbox]:checked ~ .show-proof-rank {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}
.filteren .show-proof-rank {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}
