h1= filterStap
h3 Wat is je username
input(type="text")
h3 Wat is je rank upload een foto om het te bewijzen
<input type="file" id="img" name="img" accept="image/*">

if filterStap === 'Rocket League'
    h1 Rocket League
else if filterStap === 'Schaken'
    h1 Schaken
else if filterStap === 'Apex Legends'
    h1 ApexLegends
else if filterStap === 'Modern Warfare'
    h1 ModernWarfare