.nogGeenFilters p {
  margin-bottom: 10px;
  font-size: 1em;
}

.profiel {
  margin-left: 20px;
}
.profiel p {
  margin-left: 20px;
}
.profiel img {
  max-width: 30vw;
}
.profiel h3:first-of-type {
  margin-top: 1em;
}
