.nogGeenFilters{
    p{
        margin-bottom: 10px;
        font-size: 1em;
    }
}

.profiel {
    margin-left: 20px;

    p{
        margin-left: 20px;
    }

    img{
        max-width: 30vw;
    }

    h3:first-of-type{
        margin-top: 1em;
    }
}