* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  font-size: 1.2em;
}

html {
  height: 100vh;
}

body {
  margin-bottom: 6em;
  margin-top: 6em;
  background-color: #f78080;
}

.bodyDiv {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: #f8f7ff;
}

.defaultButton {
  padding: 10px;
  background-color: #add8e6;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px 5px;
  width: fit-content;
  height: fit-content;
}

.defaultButton:active {
  background-color: #ffd8be !important;
}

.nogGeenFilters {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-size: 1.3em;
  }
}

.nogGeenFiltersScroll {
  position: fixed;
  bottom: 3em;
  background-color: #f8f7ff;
}

@import "components/footer/footer";
@import "components/header/header";
@import "pages/profiel/profiel";
@import "pages/profiel/kiesSpel/kiesSpel";
@import "pages/profiel/filteren/filteren";
@import "pages/zoeken/zoeken";
