.user {
  height: 86vh !important;
  width: 94vw;
  display: flex;
  flex-direction: column;
  padding: 2vh 3vw 2vh 3vw;
}
.user h3 {
  font-size: 1.6em;
  align-self: center;
}

.userChoice {
  display: flex;
  flex-direction: row;
  width: 100vw !important;
  height: 4em !important;
  position: fixed;
  bottom: 5em;
  left: 0;
  right: 0;
}
.userChoice ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0;
  justify-content: space-between;
}
.userChoice ul li {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #B8B8FF;
  border: solid black 1px;
}
.userChoice ul li:first-of-type {
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0% 100%);
}
.userChoice ul li:first-of-type button {
  justify-content: flex-end;
  padding-right: 0.5em;
}
.userChoice ul li:last-of-type {
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0% 100%);
}
.userChoice ul li:last-of-type button {
  justify-content: flex-start;
  padding-left: 0.5em;
}
.userChoice ul li a,
.userChoice ul li button,
.userChoice ul li p {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.userChoice ul li button {
  background-color: #B8B8FF;
  border: none;
  width: 33vw;
}
