extends /index.pug
block content
  div.login
    div.filteren
      form(action="/zoeken" method="post")

        label(name="name") Wat is jouw username?
        input(type="text" name="name" required)
        button.defaultButton submit