.KiesSpel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 5em;

  div {
    position: relative;
    overflow: hidden;
    margin: 0.2em;
  }

  h3 {
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .KiesSpel div {
    max-width: 44vw !important;
  }
}
