.footer {
  width: 100vw;
  height: 3em !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;
  justify-content: space-between;
}
.footer ul li {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f78080;
  border: solid black 1px;
}
.footer ul li a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer i {
  font-size: 1.2em;
  margin-right: 0.3em;
}
.footer .Profiel .Profiel,
.footer .Zoeken .Zoeken,
.footer .Berichten .Berichten {
  background-color: #FFD8BE;
}
