div.footer 
  ul(class=title)
    li.Profiel 
      a(href='/profiel') 
        i(class="fa fa-user")
        p Profiel
    li.Zoeken 
      a(href='/zoeken')
        i(class="fa fa-search")
        p zoeken
    li.Berichten 
      a(href='/berichten')
        i(class="fa fa-comment")
        p berichten