.footer {
  width: 100vw;
  height: 4em !important;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;
  justify-content: space-between;
}

.footer ul li {
  display: flex;
  height: 100%;
  width: 100%;
  font-size: 2em;
  background-color: #5dfdcb;
  border: solid black 1px;
}

.footer ul li a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
