* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  font-size: 1.2em;
}

html {
  height: 100vh;
}

body {
  margin-bottom: 6em;
  margin-top: 6em;
  background-color: #f78080;
}

.bodyDiv {
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-color: #f8f7ff;
}

.defaultButton {
  padding: 10px;
  background-color: #add8e6;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px 5px;
  width: fit-content;
  height: fit-content;
}

.defaultButton:active {
  background-color: #ffd8be !important;
}

.nogGeenFilters {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nogGeenFilters p {
  font-size: 1.3em;
}

.nogGeenFiltersScroll {
  position: fixed;
  bottom: 3em;
  background-color: #f8f7ff;
}

.footer {
  width: 100vw;
  height: 3em !important;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer ul {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0;
  justify-content: space-between;
}
.footer ul li {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #f78080;
  border: solid black 1px;
}
.footer ul li a {
  color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer i {
  font-size: 1.2em;
  margin-right: 0.3em;
}
.footer .Profiel .Profiel,
.footer .Zoeken .Zoeken,
.footer .Berichten .Berichten {
  background-color: #ffd8be;
}

.header {
  width: 100vw;
  height: 100% !important;
  max-height: 2em !important;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #f78080 31%, #f78080 100%);
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header h1 {
  padding-left: 1em;
}
.header a {
  color: black;
  text-decoration: none;
  margin-right: 1em;
}

.profiel {
  margin-left: 20px;
  padding-top: 1em;
}
.profiel p {
  margin-left: 20px;
}
.profiel img {
  max-width: 30vw;
}
.profiel h2:first-of-type {
  margin-top: 1em;
}

.KiesSpel {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 5em;
}
.KiesSpel div {
  position: relative;
  overflow: hidden;
  margin: 0.2em;
}
.KiesSpel h3 {
  color: white;
  text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
  position: absolute;
  font-size: 1.8em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  text-align: center;
}
.KiesSpel img {
  width: 90vw;
}

@media screen and (max-width: 800px) {
  .KiesSpel div {
    max-width: 44vw !important;
  }
}
.filteren {
  margin-left: 20px;
}
.filteren form * {
  display: flex;
}
.filteren form > label {
  margin-top: 1em;
}
.filteren h1 {
  font-size: 1.8em;
}
.filteren button {
  margin-top: 1em;
}
.filteren .choiceDiv {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filteren .choiceDiv input {
  margin-right: 0.2em;
}
.filteren .proof-rank {
  display: flex;
  width: 100vw;
  flex-direction: column;
  font-size: 0.5em;
  margin-left: 2em;
  font-size: 0.7em;
}
.filteren .proof-rank input {
  width: 20vw;
  margin-left: 1px;
}
.filteren input[type=radio]:checked ~ .show-proof-rank,
.filteren input[type=checkbox]:checked ~ .show-proof-rank {
  opacity: 1;
  max-height: 100px;
  overflow: visible;
}
.filteren .show-proof-rank {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.users {
  width: 94vw;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5em;
}

.user {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 5px black;
}
.user h3 {
  font-size: 1.6em;
  margin-top: 0.5em;
}
.user h4 {
  font-size: 1.3em;
}
.user h5 {
  font-size: 1em;
}
.user h3,
.user h4 {
  width: 100%;
  text-align: center;
  align-self: center;
}
.user .paddingDiv {
  margin-top: 0.5em;
  width: 33.3%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user .linkDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3em;
  margin-top: 0.5em;
}

.login {
  display: flex;
  justify-content: center;
  height: 80vh;
}
