* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  font-size: 1.2em;
}

html {
  height: 100vh;
}

body {
  margin-bottom: 6em;
  margin-top: 6em;
  background-color: #F8F7FF;
}

a.defaultButton {
  padding: 10px;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  box-shadow: 5px 5px 5px;
  width: fit-content;
  height: fit-content;
}

.nogGeenFilters {
  padding-top: 1em;
  padding-left: 1em;
}
.nogGeenFilters p {
  margin-bottom: 1em;
  font-size: 1em;
}
